@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes textChange {
  0% {
    color: #FF0000;
  }
  25% {
    color: #00FF00;
  }
  50% {
    color: #0000FF;
  }
  75% {
    color: #FFFF00;
  }
  100% {
    color: #FF0000;
  }
}

.animate-textChange {
  animation: textChange 3s infinite;
}